@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
$sizes: -30 -25 -20 -15 -10 -5 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;
@mixin paddings() {
    @each $size in $sizes {
        .padding-#{$size} {
            padding: #{$size}px;
        }
    }
}
@mixin margins() {
    @each $size in $sizes {
        .margin-#{$size} {
            margin: #{$size}px;
        }
    }
}
@mixin setProps($prop,$pos) {
    @each $size in $sizes {
        .#{$prop}#{$pos}-#{$size} {
            #{$prop}#{$pos}: #{$size}px;
        }
    }
}