// Background Colors
$bg-default: #222;
$bg-primary: #1e1e1e;
$bg-secondary: #161616;
$bg-hover: #030303;

// Colors
$color-default: #666;
$color-primary: #999;
$color-secondary: #d9dbde;
$color-hover: #FAFAFA;

$default-color: $color-default !default;